/* This is my stylesheet for the homepage */


/* header styles */

/* main body styles */

/* footer styles */

h3{
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}


h1{
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}

a{
  margin-left: 50px;
  color: black;
  font-family: 'Lora', serif;

}

img{
  margin-left: auto;
  margin-right: auto;
}

#box1{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  outline: 5px solid white;
}


#box2{
  margin-top: 5px;
  margin-bottom: 5px;
  outline: 5px solid white;
}



.rownav {
  text-align: center;
  background-color: #C4A4E0;
  font-size: 20px;

}


figure{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body{
  background-color: #CAEDF1;
  font-family: 'Lora', serif;
}

h2{
  font-size: 30px; font-style: bold;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.rowfooter {color: black;   background-color: #C4A4E0; text-align: center;   font-family: 'Lora', serif;
}


.rowheader {color: black; text-align: center; }

figcaption{
text-align: center;

}
