/* This is my stylesheet for the homepage */


/* header styles */

/* main body styles */

/* footer styles */


a{
  margin-left: 50px;
  color: black;
}

.rownav {
  text-align: center;
  background-color: #C4A4E0;
  font-size: 20px;
}

body{
  background-color: #CAEDF1;
}

h2{
  font-size: 20px; font-style: bold;
}

.rowfooter {color: black;   background-color: #C4A4E0; text-align: center;}


.rowheader {color: black; text-align: center;}

figcaption{
  
}
